integration_name: com.newrelic.labs.sfdc.eventlogfiles
run_as_service: False
cron_interval_minutes: 60
service_schedule: { "hour":  "*", "minute": "30" }
instances:
  - name: sfdc-logs
    arguments:
      token_url: "https://test.salesforce.com/services/oauth2/token"
      auth: {
        "grant_type": "password",
        "client_id": "",
        "client_secret": "",
        "username": "",
        "password": ""
      }
      auth_env_prefix: "MY_"
      cache_enabled: False
      redis: {
        "host": "",
        "port": "",
        "db_number": 0,
        "password": ""
      }
      date_field: "LogDate"
      generation_interval: "Hourly"
      time_lag_minutes: 300
    labels:
      environment: production
queries: [
  "SELECT Id,EventType,CreatedDate,LogDate,LogFile FROM EventLogFile WHERE CreatedDate>={from_timestamp} AND EventType='RestApi' AND Interval='{log_interval_type}'",
  "SELECT Id,EventType,CreatedDate,LogDate,LogFile FROM EventLogFile WHERE CreatedDate>={from_timestamp} AND EventType='ApexCallout' AND Interval='{log_interval_type}'",
  "SELECT Id,Action,CreatedById,CreatedByContext,CreatedByIssuer,CreatedDate,DelegateUser,Display,Section,ResponsibleNamespacePrefix FROM SetupAuditTrail WHERE CreatedDate>={from_timestamp}"
]
newrelic:
  data_format: "events"
  api_endpoint: "US"
  account_id: ""
  license_key: ""

